

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Animation
# Typography
# Header
# Content
# Footer

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'plumb-regular'; /* Гарнитура шрифта */
  src: url( "../fonts/plumb-regular.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumb-medium'; /* Гарнитура шрифта */
  src: url( "../fonts/plumb-medium.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumb-light'; /* Гарнитура шрифта */
  src: url( "../fonts/plumb-light.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumb-bold'; /* Гарнитура шрифта */
  src: url( "../fonts/plumb-bold.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-black'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-black.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-regular'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-regular.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-medium'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-medium.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-light'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-light.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-bold'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-bold.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-black'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-black.ttf" ); /* Путь к файлу со шрифтом */
}


/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

@keyframes show-panel {
  from { left: -235px; }
  to   { left: 0; }
}

@keyframes hidden-panel {
  from { left: 0; }
  to   { left: -235px; }
}

@keyframes rotate-up {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-45deg); }
}

@keyframes prerotate-up {
  from { transform: rotate(-45deg); }
  to   { transform: rotate(0deg); }
}

@keyframes rotate-bottom {
  from { transform: rotate(0deg); }
  to   { transform: rotate(45deg); }
}

@keyframes prerotate-bottom {
  from { transform: rotate(45deg); }
  to   { transform: rotate(0deg); }
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-family: 'plumb-regular','Arial' ,sans-serif;
  color: #000000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.color-text {
  color: #ff0000;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
  padding: 1.2em 0 0 0;
}

header .header-logo {
  float: left;
  width: 20%;
  max-width: 90px;
  margin-top: 0.4em;
  margin-right: 1.4em;
}

header .header-title {
  float: left;
  width: 70%;
  padding-left: 1.2em;
  border-left: 1px solid #817e7e;
  box-sizing: border-box;
  font-family: 'plumb-medium', 'Arial', sans-serif;
}

.contacts-box a {
  display: block;
  width: 100%;
  font-size: 1.6em;
}

.contacts-box a:nth-child(1) {
  display: none;
}

.contacts-box p {
  display: block;
  margin: 0;
  font-size: 0.65em;
  color: #817e7e;
}

.title-box h1 {
  margin: 0.2em 0 0;
  font-size: 1.4em;
}

.title-box h1 span {
  display: block;
  font-size: 0.65em;
  color: #817e7e;
  font-family: 'plumb-light', 'Arial', sans-serif;
}

.main-header h2 {
  float: left;
  margin: 0.5em 0;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: 'plumbc-regular', 'Arial', sans-serif;
}

.main-header h2 .color-text {
  font-family: 'plumbc-bold', 'Arial', sans-serif;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

body {
  background: url('../img/bg_main-s.jpg') no-repeat 50% 0;
  background-size: cover;
}

.main-screen .wrap {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.test-screen,
.st-list,
.btn-ytplay {
  display: none;
}

.box-screen {
  width: 50%;
  float: left;
  min-height: 125px;
  box-sizing: border-box;
}

.btn-st {
  display: block;
  width: 100%;
  max-width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: 'plumbc-regular', 'Arial', sans-serif;
}

.btn-st.left-side {
  float: left;
  padding-right: 20%;
}

.btn-st.right-side {
  float: right;
  padding-left: 10%;
}

.btn-st span {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0.5em auto;
  border: 4px solid #f2eae8;
  border-radius: 50%;
  background-color: #504f4f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.btn-st:hover span,
.btn-st:active span {
  background-color: #ff0000;
}

.btn-st span.icon_police {
  background-image: url('../img/icon_police.png');
}

.btn-st span.icon_health {
  background-image: url('../img/icon_health.png');
}

.btn-st span.icon_cars {
  background-image: url('../img/icon_cars.png');
}

.btn-st span.icon_weight {
  background-image: url('../img/icon_weight.png');
}

.main-screen .btn-phone {
  position: absolute;
  top: 25%;
  left: 36%;
  z-index: 55;
  display: block;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  font-size: 0;
  background: #ff0000 url('../img/icon_phone-w.png') no-repeat 50% 50%;
}

.btn-oq {
  display: block;
  width: 100%;
  margin: auto;
  padding: 0.7em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: 'plumbc-regular', 'Arial', sans-serif;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ff0000;
}






/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


/*============== for tablets 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*============== for tablets 1024px ===========================*/
@media screen and (min-width: 1024px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  .container {
    max-width: 960px;
  }


  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1366px ===========================*/
@media screen and (min-width: 1366px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for MAC 1600px ===========================*/
@media screen and (min-width: 1600px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}
