

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Animation
# Typography
# Header
# Content
# Footer

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'plumb-regular'; /* Гарнитура шрифта */
  src: url( "../fonts/plumb-regular.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumb-medium'; /* Гарнитура шрифта */
  src: url( "../fonts/plumb-medium.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumb-light'; /* Гарнитура шрифта */
  src: url( "../fonts/plumb-light.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumb-bold'; /* Гарнитура шрифта */
  src: url( "../fonts/plumb-bold.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-black'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-black.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-regular'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-regular.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-medium'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-medium.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-light'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-light.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-bold'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-bold.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'plumbc-black'; /* Гарнитура шрифта */
  src: url( "../fonts/plumbc-black.ttf" ); /* Путь к файлу со шрифтом */
}


/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

@keyframes show-panel {
  from { left: -235px; }
  to   { left: 0; }
}

@keyframes hidden-panel {
  from { left: 0; }
  to   { left: -235px; }
}

@keyframes rotate-up {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-45deg); }
}

@keyframes prerotate-up {
  from { transform: rotate(-45deg); }
  to   { transform: rotate(0deg); }
}

@keyframes rotate-bottom {
  from { transform: rotate(0deg); }
  to   { transform: rotate(45deg); }
}

@keyframes prerotate-bottom {
  from { transform: rotate(45deg); }
  to   { transform: rotate(0deg); }
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-family: 'plumb-regular','Arial' ,sans-serif;
  color: #000000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.color-text {
  color: #ff0000;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
  padding: 1.2em 0 0 0;
}

header .header-logo {
  float: left;
  width: 20%;
  max-width: 90px;
  margin-top: 0.4em;
  margin-right: 1.4em;
}

header .header-title {
  float: left;
  width: 70%;
  padding-left: 1.2em;
  border-left: 1px solid #817e7e;
  box-sizing: border-box;
  font-family: 'plumb-medium', 'Arial', sans-serif;
}

.contacts-box a {
  display: block;
  width: 100%;
  font-size: 1.6em;
}

.contacts-box a:nth-child(1) {
  display: none;
}

.contacts-box p {
  display: block;
  margin: 0;
  font-size: 0.65em;
  color: #817e7e;
}

.title-box h1 {
  margin: 0.2em 0 0;
  font-size: 1.4em;
}

.title-box h1 span {
  display: block;
  font-size: 0.65em;
  color: #817e7e;
  font-family: 'plumb-light', 'Arial', sans-serif;
}

.main-header h2 {
  float: left;
  margin: 0.5em 0;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: 'plumbc-regular', 'Arial', sans-serif;
}

.main-header h2 .color-text {
  font-family: 'plumbc-bold', 'Arial', sans-serif;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

body {
  background: url('../img/bg_main-s.jpg') no-repeat 50% 0;
  background-size: cover;
}

.main-screen .wrap {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.test-screen,
.st-list,
.btn-ytplay {
  display: none;
}

.box-screen {
  width: 50%;
  float: left;
  min-height: 125px;
  box-sizing: border-box;
}

.btn-st {
  display: block;
  width: 100%;
  max-width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: 'plumbc-regular', 'Arial', sans-serif;
}

.btn-st.left-side {
  float: left;
  padding-right: 20%;
}

.btn-st.right-side {
  float: right;
  padding-left: 10%;
}

.btn-st::before  {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0.5em auto;
  border: 4px solid #f2eae8;
  border-radius: 50%;
  background-color: #504f4f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  content: '';
}

.btn-st:hover::before,
.btn-st:active::before {
  background-color: #ff0000;
}

.btn-st.icon_police::before {
  background-image: url('../img/icon_police.png');
}

.btn-st.icon_health::before {
  background-image: url('../img/icon_health.png');
}

.btn-st.icon_cars::before {
  background-image: url('../img/icon_cars.png');
}

.btn-st.icon_weight::before {
  background-image: url('../img/icon_weight.png');
}

.st-list {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 99;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #b8b8b8;
  border-radius: 5px;
}

.st-list li {
  margin-top: 0.2em;
}

.st-list a:hover,
.st-list a:active {
  color: #ff0000;
}

.main-screen .btn-phone {
  position: absolute;
  top: 25%;
  left: 36%;
  z-index: 55;
  display: block;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  font-size: 0;
  background: #ff0000 url('../img/icon_phone-w.png') no-repeat 50% 50%;
}

.btn-oq,
.cons button,
.list_parents-btn,
.screen-result-btn {
  display: block;
  width: 100%;
  margin: auto;
  padding: 0.9em 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: 'plumbc-regular', 'Arial', sans-serif;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ff0000;
}

.screen-result {
  display: none;
}

/*--------------------------second screen---------------------------*/

.screen-header,
.screen-list_childs {
  display: none;
}

.screen-title {
  margin-bottom: 1.5em;
  padding: 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'plumb-medium', 'Arial', sans-serif;
  background-color: #ffffff;
  border: 1px solid #5f5f60;
  border-radius: 40px;
}

.screen-title p {
  margin: 0;
}

.screen-title .color-text {
  display: block;
  font-size: 1.2em;
  font-family: 'plumb-bold', 'Arial', sans-serif;
}

.list_parents-btn,
.screen-result-btn {
  margin-bottom: 1em;
  padding: 0.5em 0;
}

.screen-result {
  display: block;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #5f5f60;
}

/*-----------------third screen--------------------------------*/

.screen-list_parents > li {
  position: relative;
}

.screen-list_childs {
  position: absolute;
  z-index: 66;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.5em;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #5f5f60;
  border-radius: 6px;
}

.screen-list_childs > li {
  padding-left: 35px;
  margin-bottom: 10px;
}

.checkbox {
  position: relative;
  text-align: left;
}

.checkbox input {
  display: none;
}

.checkbox:hover {
  cursor: pointer;
  color: #ff0000;
}

.checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: -30px;
  width: 25px;
  height: 25px;
  background: url("../img/icon_notchecked.png") no-repeat 0 0;
  background-size: contain;
}

.checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: -30px;
  width: 27px;
  height: 27px;
  background: url("../img/icon_checked.png") no-repeat 0 0;
  background-size: contain;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
  margin-top: 1em;
  padding: 0.01em 0 1em 0;
  background-color: #504f4f;
}

.cons input {
  display: block;
  width: 100%;
  margin: 1em auto;
  padding: 1em;
  padding-left: 3em;
  font-size: 1.1em;
  box-sizing: border-box;
  border: none;
  color: #999999;
  border-radius: 3px;
  box-shadow: inset 0 2px 5px 1px #8d8d8d;
}

.cons label {
  position: relative;
}

.cons .cons-name::after,
.cons .cons-phone::after {
  position: absolute;
  top: 32px;
  left: 16px;
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  background: url('../img/icon_phone.png') no-repeat 50% 50%;
  background-size: contain;
  opacity: 0.8;
}

.cons .cons-phone::after {
  background: url('../img/icon_man.png') no-repeat 50% 50%;
  background-size: contain;
}


/*============== for tablets 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*============== for tablets 1024px ===========================*/
@media screen and (min-width: 1024px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  .container {
    max-width: 960px;
  }


  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  header {
    position: relative;
  }

  header::after {
    position: absolute;
    top: -0.5em;
    left: 5%;
    right: 5%;
    height: 1em;
    border-radius: 8px;
    background-color: #504f4f;
    content: '';
  }

  header .header-logo {
    margin-top: 0;
    margin-right: 0;
  }

  .logo-box {
    display: block;
    width: 70%;
    margin: auto;
  }

  header .header-title {
    width: 90%;
    float: right;
  }

  header .title-box {
    float: left;
    width: 50%;
    font-size: 1.2em;
    font-family: 'plumbc-regular', 'Arial', sans-serif;
  }

  .title-box h1 {
    margin: 0.5em 0;
  }

  header .contacts-box {
    float: right;
    width: 50%;
    margin-top: 1em;
    text-align: right;
  }

  header .contacts-box a:nth-child(1) {
    display: block;
  }

  .main-header h2 {
    display: none;
  }

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  body {
    background: url('../img/bg_main.jpg') no-repeat 50% 0;
    background-size: cover;
  }

  .main-screen .wrap {
    position: relative;
    width: 550px;
    height: 450px;
    background: url('../img/bg_screen.png') no-repeat 50% 0;
    background-size: contain;
  }

  .main-screen .btn-phone {
    display: none;
  }

  .box-screen {
    position: absolute;
    width: 80%;
  }

  .box-screen.box-one {
    top: 13%;
    right: 96%;
  }

  .box-screen.box-two {
    top: 13%;
    left: 96%;
  }

  .box-screen.box-three {
    bottom: 13%;
    right: 95%;
  }

  .box-screen.box-four {
    bottom: 13%;
    left: 95%;
  }

  .btn-st {
    position: relative;
    max-width: 300px;
    min-height: 80px;
    padding: 30px 0;
    font-size: 1.1em;
    background-color: #ffffff;
    border: 1px solid #b8b8b8;
    border-radius: 40px;
    box-sizing: border-box;
  }

  .box-one .btn-st {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .btn-st::before {
    position: absolute;
    width: 100px;
    height: 100px;
    border-width: 8px;
  }

  .btn-st:hover::before {
    box-shadow: 0 0 10px 5px #c5c2c1;
  }

  .btn-st.left-side {
    padding-right: 100px;
  }

  .btn-st.left-side::before {
    right: -50px;
    top: -22px;
  }

  .btn-st.right-side {
    padding-left: 100px;
  }

  .btn-st.right-side::before {
    left: -50px;
    top: -22px;
  }

  .btn-st span {
    font-size: 20px;
  }

  .st-list {
    position: absolute;
    top: 95%;
  }

  .btn-oq {
    display: none;
  }

  /*-------------------------first-screen------------------------------*/

  .screen-header {
    position: absolute;
    top: 0;
    left: 35%;
    display: block;
    width: 38%;
    text-align: center;
    font-size: 2em;
    font-family: 'plumbc-regular', 'Arial', sans-serif;
  }

  .screen-header .big-title {
    display: block;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'plumbc-bold', 'Arial', sans-serif;
  }

  .screen-title {
    width: 600px;
    margin: 1.5em auto;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .screen-list_parents {
    text-align: center;
  }

  .screen-list_parents > li {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    max-width: 300px;
    margin-right: 8%;
  }

  .list_parents-btn {
    position: relative;
    max-width: 300px;
    min-height: 80px;
    padding: 20px 0;
    padding-right: 3em;
    padding-left: 0.5em;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #b8b8b8;
    border-radius: 40px;
    box-sizing: border-box;
  }

  .list_parents-btn::before  {
    position: absolute;
    right: -50px;
    top: -22px;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0.5em auto;
    border: 4px solid #f2eae8;
    border-radius: 50%;
    background-color: #504f4f;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: '';
  }

  .list_parents-btn:hover::before,
  .list_parents-btn:active::before {
    background-color: #ff0000;
    box-shadow: 0 0 10px 5px #c5c2c1;
  }

  .screen-result {
    min-height: 80px;
    padding: 0.7em;
    box-sizing: border-box;
  }

  .screen-result,
  .screen-result-btn {
    display: inline-block;
    width: 30%;
    margin-left: 2%;
  }


  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

  .cons label,
  .cons button {
    display: inline-block;
    width: 30%;
    margin-top: 3em;
    margin-bottom: 2.7em;
  }

  .cons label.cons-phone {
    margin: 0 4.5%;
  }

  .cons .cons-name::after,
  .cons .cons-phone::after {
    width: 25px;
    height: 25px;
  }

}

/*=================== for PC 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  .container {
    max-width: 1024px;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1366px ===========================*/
@media screen and (min-width: 1366px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  .main-screen .wrap {
    position: relative;
    max-width: 1024px;
    height: 450px;
    margin-top: 2em;
    background: url('../img/bg_screen.png') no-repeat 50% 0;
    background-size: contain;
  }

  .box-screen.box-one {
    top: 22%;
    right: 68%;
  }

  .box-screen.box-two {
    top: 22%;
    left: 68%;
  }

  .box-screen.box-three {
    bottom: 13%;
    right: 68%;
  }

  .box-screen.box-four {
    bottom: 13%;
    left: 68%;
  }

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

  .cons label, .cons button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

}

/*=================== for MAC 1920px ===========================*/
@media screen and (min-width: 1920px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  body {
    overflow-y: hidden;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  header::after {
    width: 1024px;
    margin: auto;
  }

  header .container {
    max-width: 1700px;
  }

  header .header-title {
    width: 1600px;
  }

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  .main-screen .wrap {
    width: 1024px;
    height: 800px;
    margin: 0;
  }

  .box-screen {
    width: 330px;
  }

  .box-screen.box-one {
    top: 35%;
    right: 85%;
  }

  .box-screen.box-two {
    top: 35%;
    left: 85%;
  }

  .box-screen.box-three {
    bottom: 20%;
    right: 83%;
  }

  .box-screen.box-four {
    bottom: 20%;
    left: 83%;
  }

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

  footer {
    position: relative;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    border-radius: 8px;
  }

  footer::after,
  footer::before {
    position: absolute;
    width: 200px;
    height: 80px;
    background-color: #504f4f;
    border-radius: 7px;
    content: '';
  }

  footer::after {
    z-index: -1;
    transform: rotate(60deg);
    top: 65px;
    right: -112px;
  }

  footer::before {
    transform: rotate(-60deg);
    top: 65px;
    left: -112px;
  }

}

.show {
  display: block;
}

.hide {
  display: none;
}
